@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}   

@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  background-color: #fff;
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }
  &__list-item {
    border-bottom: 1px solid transparent;
    transition: all .3s;
    color: $title;
    @extend %roboto-400;
    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-700;
    }
  }
  &__list-item--active {
    color: $accent;
    border-bottom: 1px solid $accent;
    @extend %roboto-700;
  }
  &__list-item + &__list-item{
    @media (min-width: 1200px) {
      margin-left: 35px;
    }
    @media (min-width: 768px) {
      margin-left: max(10px, 2vw);
    }
  }
  &__list-link {
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 2px;
    color: inherit;
  }
}
.user-menu {
  display: flex;
  &__link {
    position: relative;
    margin-bottom: 4px;n-bottom: 4px;
  }
  &__link:not(:last-child) {
    margin-right: 25px;
  }
  &__link-num {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    top: -9px;
    right: -13px;
  }
}




@import 'media';